{% extends  "accounts/base_accounts.html" %}{% load static %}{% block content%}
<body>
    <main class="login-bg">

        <div class="login-form-area">
            <div class="login-form">

                <div class="login-heading">
                    <span>Login</span>
                    <p>Enter Login details to get access</p>
                </div>
                    <div class="input-box">
                        <form  method="post" action="{% url "accounts:login" %}">
                                    {% csrf_token %}
                                <div class="single-input-fields">
                                    <label>Username or Email Address</label>
                                    <input name='username' type="text" placeholder="Username / Email address">
                                </div>
                                <div class="single-input-fields">
                                    <label>Password</label>
                                    <input name='password' type="password" placeholder="Enter Password">
                                </div>
                                <div class="single-input-fields login-check">
                                    <input type="checkbox" id="fruit1" name="keep-log">
                                    <label for="fruit1">Keep me logged in</label>
                                    <a href="#" class="f-right">Forgot Password?</a>
                                </div>
                                </div>
                                <div class="login-footer">
                                    <p>Don’t have an account? <a href="{% url "accounts:register" %}">Sign Up</a> here</p>
                                    <button type="submit" class="submit-btn3">Login</button>
                                </div>
                            
                        </form>
          

                
            </div>
        </div>

    </main>

 {% endblock%}