{% extends  "accounts/base_accounts.html" %}{% load static %}{% block content%}

  <body>
    <main class="login-bg">
      <div class="register-form-area">
        <div class="register-form text-center">
          <div class="register-heading">
            <span>Sign Up</span>
            <p>Create your account to get full access</p>
          </div>
          
          <div class="input-box">
            <form  method="post" action="{% url "register" %}">
                  {% csrf_token %}
                <div class="single-input-fields">
                  <label>Full name</label>
                  <input  name="username" type="text" placeholder="Enter full name" />
                </div>
                <div class="single-input-fields">
                  <label>Email Address</label>
                  <input name="email"  type="email" placeholder="Enter email address" />
                </div>
                <div class="single-input-fields">
                  <label>Password</label>
                  <input name="password1"  type="password" placeholder="Enter Password" />
                </div>
                <div class="single-input-fields">
                  <label>Confirm Password</label>
                  <input name="password2" type="password" placeholder="Confirm Password" />
                </div>
              </div>

              <div class="register-footer">
                <p>
                  Already have an account? <a href="{% url 'login' %}">Login</a> here
                </p>
                <button  type='submit'class="submit-btn3">Sign Up</button>
              </div>
            </form>
        </div>
      </div>
    </main>
{% endblock%}