{% extends "base.html" %}
{% load static %} 
# dynamic meta description
{% block title %}Contact Us - Real Estate{% endblock %}
{% block meta_description %}Learn more Contact Us and what we do.{% endblock %}
{% block content %}
    <main>
      <div class="slider-area">
        <div class="single-slider slider-bg4 hero-overly slider-height2 d-flex align-items-center">
          <div class="container">
            <div class="row">
              <div class="col-xxl-5 col-xl-6 col-lg-8 col-md-10">
                <div class="hero-caption hero-caption2">
                  <h1>Contact Us</h1>
                  <p>Get started by choosing from one of our pre-built page templates to showcase your properties</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="contact-section">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2 class="contact-title">Get in Touch</h2>
            </div>
            <div class="col-lg-8">
              <form class="form-contact contact_form" action="{% url 'website:contact' %}" method="post" >
                <div class="row">
                  {% csrf_token %}
                  <div class="col-12">
                    <div class="form-group">
                      <textarea class="form-control w-100" name="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" placeholder=" Enter Message"></textarea>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input class="form-control valid" name="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" placeholder="Enter your name" />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input class="form-control valid" name="email"  type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder="Email" />
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <input class="form-control" name="subject"  type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="Enter Subject" />
                    </div>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <button type="submit" class="button button-contactForm boxed-btn">Send</button>
                  {{form.captcha}}
                </div>
              </form>  
            </div>
          </div>
        </div>
      </section>
    </main>
{% endblock %}