{% load static %}
<aside class="single_sidebar_widget popular_post_widget">
    <h3 class="widget_title" style="color: #2d2d2d;">Recent Post</h3>
    <div class="media post_item">
        <img src="{% static "img/post/post_1.jpg"%}" alt="post">
        <div class="media-body">
            <a href="">
                <h3 style="color: #2d2d2d;">From life was you fish...</h3>
            </a>
            <p>January 12, 2019</p>
        </div>
    </div>
    <div class="media post_item">
        <img src="{% static "img/post/post_2.jpg" %}" alt="post">
        <div class="media-body">
            <a href="">
                <h3 style="color: #2d2d2d;">The Amazing Hubble</h3>
            </a>
            <p>02 Hours ago</p>
        </div>
    </div>
    <div class="media post_item">
        <img src="{% static "img/post/post_3.jpg" %}" alt="post">
        <div class="media-body">
            <a href="">
                <h3 style="color: #2d2d2d;">Astronomy Or Astrology</h3>
            </a>
            <p>03 Hours ago</p>
        </div>
    </div>
    <div class="media post_item">
        <img src="{% static "img/post/post_4.jpg" %}" alt="post">
        <div class="media-body">
            <a href="">
                <h3 style="color: #2d2d2d;">Asteroids telescope</h3>
            </a>
            <p>01 Hours ago</p>
        </div>
    </div>
</aside>