{% extends 'base.html' %}{% load static %} {% load blog_tags %} {% block content %}
<main>
      <div class="slider-area">
        <div class="single-slider slider-bg4 hero-overly slider-height2 d-flex align-items-center">
          <div class="container">
            <div class="row">
              <div class="col-xxl-5 col-xl-6 col-lg-8 col-md-10">

                <div class="hero-caption hero-caption2">
                  <h1>Blog Details</h1>
                  <p>Get started by choosing from one of our pre-built page templates to showcase your properties</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="blog_area single-post-area top-padding">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 posts-list">
              <div class="single-post">
                <div class="feature-img">
                  <img class="img-fluid" src="{{post.image.url}}" alt />
                </div>

                <div class="blog_single">
                  <h2 style="color: #2d2d2d;">{{post.title}}
                    
                  </h2>
                  <ul class="blog-info-link mt-3 mb-4">
                    {% for cat in post.category.all %}
                    <li><a href="{% url "blog:category" cat_name=cat.name%}"><i class="fas">&#xf02c;</i>{{cat.name}}</a></li>
                    {% endfor%}
                    <li><a href="#"><i class="fa fa-comments"></i> {{comments|length}} Comments</a></li>
                    <li><a href="#"><i class="fa">&#xf06e;</i>{{post.counted_views}} views</a></li>
                    <li><a href="#" ><i class="fa fa-user"></i>{{post.author}}</a></li>
                  </ul>
                  <p class="excert">{{post.content |safe}}</p>
                  <div class="quote-wrapper">
                    <div class="quotes">MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training.</div>
                  </div>

                </div>

              </div>
              <div class="navigation-top">
                <div class="d-sm-flex justify-content-between text-center">
                  <p class="like-info">
                    <span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4 people like this
                  </p>
                  <div class="col-sm-4 text-center my-2 my-sm-0"></div>
                  <ul class="social-icons">
                    <li>
                      <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-dribbble"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-behance"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="navigation-area">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                      <div class="thumb">
                        <a href="#"><img class="img-fluid" src="{% static "img/post/preview.jpg" %}" alt /></a>
                      </div>
                      <div class="arrow">
                        <a href="#"><span class="lnr text-white ti-arrow-left"></span></a>
                      </div>
                      <div class="detials">
                        <p>Prev Post</p>
                        <a href="#"><h4 style="color: #2d2d2d;">Space The Final Frontier</h4></a>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                      <div class="detials">
                        <p>Next Post</p>
                        <a href="#"><h4 style="color: #2d2d2d;">Telescopes 101</h4></a>
                      </div>
                      <div class="arrow">
                        <a href="#"><span class="lnr text-white ti-arrow-right"></span></a>
                      </div>
                      <div class="thumb">
                        <a href="#"><img class="img-fluid" src="{% static "img/post/next.jpg" %}" alt /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="blog-author">
                <div class="media align-items-center">
                  <img src="{% static "img/blog/author.png"%}" alt />
                  <div class="media-body">
                    <a href="#"><h4>Harvard milan</h4></a>
                    <p>Second divided from form fish beast made. Every of seas all gathered use saying you're, he our dominion twon Second divided from</p>
                  </div>
                </div>
              </div>
              <div class="comments-area">
                <h4>{{comments|length}} Comments</h4>
                <div class="comment-list">
                  {% for comment in comments%}
                    <div class="single-comment justify-content-between d-flex">
                      <div class="user justify-content-between d-flex">
                        <div class="thumb">
                          <img src="{% static "img/blog/comment_1.png" %}"alt />
                        </div>
                        <div class="desc">
                          <p class="comment">{{comment.message}}</p>
                          <div class="d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                              <h5><a href="#">{{comment.name}}</a></h5>
                              <p class="date">{{comment.created_date}}</p>
                            </div> 
                          </div>   <br>
                        </div>
                      </div>
                    </div>
                    {% empty%}
                    <p> no comments here be the first one to tell you thoughts</p>
                    {% endfor %}
                </div>
              </div>
              <div class="comment-form">
                <form class="form-contact comment_form" method="post" action="{% url 'blog:single' pid=post.id %}" >
                  {% csrf_token %}
                  <input type="hidden" name="post" value={{post.id}}>
                  {% comment %} {{form.as_p}} {% endcomment %}
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <textarea class="form-control w-100" name="message" type='text' cols="30" rows="9" placeholder="Write Comment"></textarea>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input class="form-control" name="name"  type="text" placeholder="Name" />
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input class="form-control" name="email"  type="email" placeholder="Email" />
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <input class="form-control" name="subject"  type="text" placeholder="subject" />
                      </div>
                    </div>
                  </div> 
                  <div class="form-group">
                    <button type="submit" class="button button-contactForm btn_1 boxed-btn">Post Comment</button>
                  </div>
                </form> 

              </div>
            </div>

                     <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                          {% include "blog/blog_search.html" %}
                          {% popular_post_widget %}
                          {% blog_post_category %} 
                          {% include "blog/blog_tag_cloud_widget.html" %}
                          {% include "blog/blog_instagram_feeds.html" %}
                          {% include "blog/newsletter.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
</main>
{% endblock %}
