{% extends 'base.html' %}{% load static %}{% load blog_tags %} {% block content %}
<main>

        <div class="slider-area">
            <div class="single-slider slider-bg4 hero-overly slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xxl-5 col-xl-6 col-lg-8 col-md-10">

                            <div class="hero-caption hero-caption2">
                                <h1>Blog</h1>
                                <p>Get started by choosing from one of our pre-built page templates to showcase your
                                    properties</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="blog_area top-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mb-5 mb-lg-0">
                        <div class="blog_left_sidebar">
                            {% for post in posts %}
                            <article class="blog_item">
                                <div class="blog_item_img">
                                    <img class="card-img rounded-0"  src="{{post.image.url}}" alt>
                                    <a href="#" class="blog_item_date">
                                        <h3>{{post.published_date |date:"d"}}</h3>
                                        <p>{{post.published_date |date:"M"}}</p>
                                        <p>{{post.published_date |date:"Y"}}</p>
                                    </a>
                                </div>
                                <br>
                                <div class="blog_single">
                                    <a  class="d-inline-block" href="{% url "blog:single" pid=post.id %}">
                                        <h2  class="blog-head" style="color: #2d2d2d;">{{post.title}}</h2>
                                    </a>
                                    <a href="{% url "blog:single" pid=post.id %}">
                                    <p>{{post.content|truncatewords:30 |safe}}</p>
                                    </a>
                                    <ul class="blog-info-link">
                                        {% for cat in post.category.all %}
                                        <li><a href="{% url "blog:category" cat_name=cat.name %}"><i class="fas">&#xf02c;</i>{{cat.name}}</a></li>
                                        {% endfor%}
                                        <li><a href="#"><i class="fa fa-comments"></i> {% counted_comments post.id %} Comments</a></li>
                                        <li><a href="#"><i class="fa">&#xf06e;</i>{{post.counted_views}} views</a></li>
                                        <li><a href="{% url "blog:author" author_username=post.author.username %}" ><i class="fa fa-user"></i>{{post.author}}</a></li>
                                    </ul>
                                </div>
                            </article>
                            {% endfor %}

                           
                            <nav class="blog-pagination justify-content-center d-flex">
                                <ul class="pagination">
                                    {% if posts.has_previous %}
                                    <li class="page-item">
                                        <a style="color: black;" href="?page={{ posts.Previous_page_number }}" class="page-link" aria-label="Previous"> 
                                            &laquo; first 
                                        </a>
                                    </li>
                                    {% endif %}

                                    {% for item in posts.paginator.page_range %}
                                      {% if page.number == item %}
                                        <li class="page-item active">
                                            <a style="color: black; href="?page={{item}}" class="page-link">{{item}}</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item ">
                                            <a style="color: black;" href="?page={{item}}" class="page-link">{{item}}</a>
                                        </li>
                                      {% endif %}
                                    {% endfor %}


                                    {% if posts.has_next %}
                                    <li class="page-item">
                                        <a style="color: black;" href="?page={{posts.paginator.num_pages}}" class="page-link" aria-label="Next">
                                            last &raquo; 
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            {% include "blog/blog_search.html" %}
                            {% popular_post_widget %}
                            {% blog_post_category  %} 
                            {% include "blog/blog_instagram_feeds.html" %}
                            {% include "blog/newsletter.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
</main>
{% endblock %}
