{% load static %}
<aside class="single_sidebar_widget newsletter_widget">
    <h4 class="widget_title" style="color: #2d2d2d;">Newsletter</h4>
    <form target="_blank" action="{% url "blog:newsletter" %}" method="post">
      <div class="form-group">
        {% csrf_token %}

        <input  name='email' type="name" class="form-control" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'" placeholder="Enter email" required />
      </div>
      <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn" type="submit">Subscribe</button>
    </form>
  </aside>



