{% load static %}
<aside class="single_sidebar_widget search_widget">
    <form action="{% url "blog:search" %}" method="get">
        <div class="form-group m-0">
            <div class="input-group">
                <input name ='search' type="text" class="form-control" placeholder="Search Keyword">
                <div class="input-group-append d-flex">
                    <button class="boxed-btn2" type="submit">Search</button>
                </div>
            </div>
        </div>
    </form>
</aside>